:root {
  --accent-color: #2196f3;
  --accent-secondary-color: #188ce8;
  --accent-light: #f5f4fa;
  --main-color: #212121;
  --sub-main-color: #757575;
  --main-white: #ffffff;
  --main-black: #000000;
  --accent-background: #2f303a;
  --accent-grey: rgba(255, 255, 255, 0.6);
  --border-line-color: rgba(236, 236, 236, 1);
  --border-projects-line-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-footer-bgc: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--main-white);
  font-family: "Roboto", sans-serif;
}

.accent-bcg {
  background-color: var(--accent-background);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.header {
  border-bottom: 1px solid var(--border-line-color);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.navigation-menu {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-color-dark {
  color: var(--main-black);
}
.logo-color-light {
  color: var(--main-white);
}

.menu-links {
  display: flex;
  margin-left: 93px;
}

.navigation-links-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--accent-color);
}

.current{
  position: relative;
  color: var(--accent-color);
}

.current::after{
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-item {
  color: var(--sub-main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  fill: currentColor;
}

.contact-item:hover,
.contact-item:focus,
.contact-item:active {
  color: var(--accent-color);
}

/* WebStudio */

/* Hero-section */
.hero-section {
  padding: 200px 0;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--main-white);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: auto;
  text-align: center;
}

.btn {
  color: var(--main-white);
  background-color: #2196f3;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 216px;
  height: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus{
  background-color: var(--accent-secondary-color);
}

/* Features-section */
.features {
  display: flex;
  justify-content: center;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.feature-icon {
  background-color: var(--accent-light);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.features-text {
  color: var(--sub-main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Activity-section + Team-section */
.section-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

/* Activity-section */
.activity-section {
  padding-top: 0;
}

.activity {
  display: flex;
}

.activity-item{
  position: relative;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.activity-description{
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  }

/* Team-section */
.section-team {
  background: var(--accent-light);
}

.team-list {
  display: flex;
}

.team-item {
  background: var(--main-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-description {
  padding: 30px 0;
}

.team-title {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-text {
  color: var(--sub-main-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--main-white);
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* Clients-section  */
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.client-icon-link {
  color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}

.client-icon-link:hover,
.client-icon-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Portfolio */
.filtr-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr-item:not(:last-child) {
  margin-right: 10px;
}

.filtr-btn {
  color: var(--main-color);
  background-color: var(--accent-light);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--main-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  width: 370px;
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-child(-n + 3) {
  margin-bottom: 0;
}

.project-link{
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-overlay{
  position: relative;
  overflow: hidden;
}

.project-img {
  display: block;
}

.project-img-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-img-overlay-caption {
  color: var(--main-white);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.project-link:hover .project-img-overlay,
.project-link:focus .project-img-overlay {
    transform: translateY(0);
}

.project-description {
  border: 1px solid var(--border-projects-line-color);
  border-top: none;
  padding: 20px 24px;
}

.project-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-text {
  color: var(--sub-main-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  padding: 60px 0;
}

.footer-list {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.address-item {
  height: 21px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer-address {
  color: var(--main-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer-address:hover,
.contacts-footer-address:focus {
  color: var(--accent-color);
}

.contacts-footer {
  color: var(--accent-grey);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.join-text {
  color: var(--main-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.join-social-item {
  width: 44px;
  height: 44px;
}

.join-social-link {
  color: var(--main-white);
  background-color: var(--icon-footer-bgc);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-social-icon {
  fill: currentColor;
}

.join-social-link:hover,
.join-social-link:focus {
  background-color: var(--accent-color);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--main-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: var(--main-white);
  fill: var(--main-black);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-btn:hover {
  fill: var(--accent-color);
}