:root {
  --accent-color: #2196f3;
  --accent-secondary-color: #188ce8;
  --accent-light: #f5f4fa;
  --main-color: #212121;
  --sub-main-color: #757575;
  --main-white: #ffffff;
  --main-black: #000000;
  --accent-background: #2f303a;
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --accent-grey: rgba(255, 255, 255, 0.6);
  --border-line-color: rgba(236, 236, 236, 1);
  --border-projects-line-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-footer-bgc: rgba(255, 255, 255, 0.1);
}
