.activity {
  padding-top: 0;
}

.activity__list {
  display: flex;
}

.activity__item {
  position: relative;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__description {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}
