.features {
  display: flex;
  justify-content: center;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icon-box {
  background-color: var(--accent-light);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.features__text {
  color: var(--sub-main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
