.form {
  width: 100%;
  padding: 40px;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.form__send-title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--sub-main-color);
}

.form__send-field {
  position: relative;
  margin: 4px 0 10px;
}

.form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  fill: var(--main-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  margin-bottom: 20px;
}

.form__comment-title {
  display: block;
  margin-bottom: 4px;
}

.form__comment-field {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment-field:focus,
.form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  fill: var(--accent-color);
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__accept {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sub-main-color);
  fill: var(--main-white);
}

.form__accept-icon {
  border: 2px solid var(--main-black);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__accept-checkbox:checked ~ .form__accept-icon {
  background-color: var(--accent-color);
  border: none;
}

.form__link {
  color: var(--accent-color);
}

.form__btn {
  color: var(--main-white);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:hover,
.form__btn:focus {
  background-color: var(--accent-secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
