.header {
  border-bottom: 1px solid var(--border-line-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.header__menu {
  display: flex;
  align-items: center;
}






