.footer {
  padding: 60px 0;
  background-color: var(--accent-background);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
