.hero {
  padding: 118px 0;
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-color: var(--accent-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  @media screen and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and(min-resolution: 2dppx) {
    background-image: var(--gradient), url(../images/hero-img@2x.jpg);
  }
  @media screen and (max-width: 767px) {
    background-image: var(--gradient), url(../images/hero-img@1x.jpg);
  }

  @media screen and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and(min-resolution: 2dppx) {
    background-image: var(--gradient), url(../images/hero-tablet-img@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: var(--gradient), url(../images/hero-tablet-img@1x.jpg);
  }

  @media screen and (min-width: 1200px),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and(min-resolution: 2dppx) {
    background-image: var(--gradient), url(../images/hero-desktop-img@2x.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: var(--gradient), url(../images/hero-desktop-img@1x.jpg);
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  color: var(--main-white);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  width: 100%;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--main-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    min-width: 216px;
    padding: 10px 32px;
    margin: 0 auto;
    margin-top: 30px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-secondary-color);
  }
}
